<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	  http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	>
	
	<bean id="userDaoImpl" class="com.mimi.core.dao.impl.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="userServiceImpl" class="com.mimi.core.service.impl.UserServiceImpl">
	         <property name="userDao" ref="userDaoImpl"/>
	</bean>
	<bean id="stationDaoImpl" class="com.mimi.core.dao.impl.StationDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="stationServiceImpl" class="com.mimi.core.service.impl.StationServiceImpl">
		<property name="stationDao" ref="stationDaoImpl"/>
	</bean>
	<bean id="boxDaoImpl" class="com.mimi.core.dao.impl.BoxDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="boxServiceImpl" class="com.mimi.core.service.impl.BoxServiceImpl">
		<property name="boxDao" ref="boxDaoImpl"/>
	</bean>
	<bean id="expressDaoImpl" class="com.mimi.core.dao.impl.ExpressDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="expressServiceImpl" class="com.mimi.core.service.impl.ExpressServiceImpl">
		<property name="expressDao" ref="expressDaoImpl"/>
	</bean>
</beans>